<body>
    <hr class="border-black">

    <section class="footer">
        <div class="footer__content flex justify-center flex-col items-center">
            <div class="footer__images flex p-5" id="contact">
               <a href="https://github.com/itsjayceee" target="_blank" ><img src="https://cdn-icons-png.flaticon.com/256/25/25231.png" class="h-11 mx-2.5" alt="github logo"  ></a> 
                <a href="https://ph.linkedin.com/in/christine-jasline-natividad-287005318" target="_blank"><img src="https://static-00.iconduck.com/assets.00/linkedin-with-circle-icon-1024x1024-m0epmra3.png" class="h-11" alt="linkedin logo"></a>
            </div>
            <div class="footer__text flex flex-col items-center">
                <img src="logo.png" alt="Logo" width="65" height="54">
                <p>Copyright © 2024 Christine Jasline D. Natividad • All Rights Reserved</p>
                <p>Disclaimer: This website is for project purposes only.</p>
                <div class="navbar">
                    <ul class="nav flex p-3">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="#featured">Featured</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1.5" aria-current="page">•</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link p-1.5" href="#gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1.5" aria-current="page">•</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link p-1.5" href="#contact">Contact</a>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
    </section>
</body>