
    <nav class="navbar sticky" >
        <div class="navbar__container flex justify-between mx-auto items-center ">
                <a href="#">
                    <img src="logo.png" alt="logo" width="50" height="44">
                </a>
                <ul class="nav flex flex-row justify-end">
                    <li class="list-none p-4"><a href="#featured">Featured</a></li>
                    <li class="list-none  p-4"><a href="#gallery" >Gallery</a></li>
                    <li class="list-none  p-4"><a href="#contact" >Contact</a></li>
                </ul>
        </div>
    </nav>
